<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/corner.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>To Do Manager</title>
</head>
<body class="standard">

    <div id="header">
        <h1>Sign Up</h1>
    </div>

    <form id="form" method="post">
        <input class="standard-input" name="UserName" type="text" placeholder="Username" required>
        <input class="standard-input" name="Email" type="email" placeholder="Email" required>
        <input class="standard-input" name="Password" type="password" placeholder="Password" required>
        <input class="standard-input" name="ConfirmPassword" type="password" placeholder="Confirm Password" required>
        <button class="standard-button" type="submit">Register</button>
    </form>

</body>
</html>
